body {
    font-family: cursive;
}

h1,
h2 {
    color: gray;
}

h1 {
    border-bottom: 2px solid red;
}

em {
    font-family: serif;
}

p {
    color: hotpink;
}

p.grin {
    color: green;
}

p.blu {
    color: blue;
}

p.fiol {
    color: blueviolet;
}